*{
	padding: 0;
	margin:0;
}
header{
	height: 150px;
	background-color: #a6f7c6;
	padding-left: 10px;
}
article{
	height: 370px;
	background-color: #fff;
	overflow: hidden;
}
footer{
	height: 100px;
	background-color: #fcfca0;
	padding-left: 10px;
}
.inner{
	margin-left: 150px;
	margin-right: 100px;
	padding-left: 10px;
}
.middle{
	float: left;
	width: 100%;
	padding-bottom: 9999px;
	margin-bottom: -9999px;
	background-color: #94d8eb;
}
.left{
	float: left;
	margin-left:-100%;
	width:150px;
	padding-bottom: 9999px;
	margin-bottom: -9999px;
	background-color: #c0d2f7;
	padding-left: 10px;
}
.right{
	float: left;
	width: 100px;
	margin-left: -110px;
	padding-bottom: 9999px;
	margin-bottom: -9999px;
	background-color: #f7bec8;
	padding-left: 10px;
}